@use "sass:map";

$main-color: #3EA1D1;
$text-color: #333333;

$font-base: "Noto Serif JP", serif;

$header-height-sp: 60px;
$header-height-pc: 70px;

$breakpoints: (
  sm: "screen and (min-width:600px)",
  md: "screen and (min-width:768px)",
  lg: "screen and (min-width:900px)",
  xl: "screen and (min-width:1200px)",
);

@mixin mq($breakpoint: md) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: $header-height-sp;

  @include mq("md") {
    scroll-padding-top: $header-height-pc;
  }
}

// 共通

.heading {
  font-size: 30px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: center;
  line-height: 100%;

  &::after {
    content: '';
    width: 60px;
    height: 1px;
    background-color: $main-color;
  }

  @include mq("md") {
    font-size: 40px;
    gap: 24px;
  }
}



body {
  font-family: $font-base;
  color: $text-color;
  font-size: 16px;
  line-height: 1.7;
  font-weight: 300;

}

@include mq("sm") {
  .hidden-sm {
    display: none;
  }
}

@include mq("md") {
  .hidden-md {
    display: none;
  }
}

@include mq("lg") {
  .hidden-lg {
    display: none;
  }
}

@include mq("xl") {
  .hidden-xl {
    display: none;
  }
}

.inner {
  padding-inline: 15px;

  @include mq("md") {
    max-width: calc(1200px + 40px * 2);
    margin-inline: auto;
    padding-inline: 40px;
  }
}

.section {

}

.section__head {

}

.section__contents {
  margin-top: 47px;

  @include mq("md") {
    margin-top: 64px;
  }
}

// ボタン

.button {
  display: inline-block;
  min-width: 158px;
  padding: calc(12px - 1px);
  text-align: center;
  border: 1px solid $main-color;
  background: #fff;
  color: $main-color;
  font-size: 14px;
  letter-spacing: 0.02px;
  transition: color 0.3s, background-color 0.3s;

    &:hover {
      background: $main-color;
      color: #fff;
    }
}


// ヘッダー

.header {
  height: $header-height-sp;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #fff;
  box-sizing: border-box;

  @include mq("md") {
    height: $header-height-pc;
  }
}

.header__inner {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {

  a{
    img{
      width: 120px;
      display: block;
    }
  }
}

.header__nav {
  background: $main-color;
  width: 270px;
  height: calc(100% - $header-height-sp);
  position: fixed;
  right: 0;
  top: $header-height-sp;
  padding: calc(40px - 8px) 15px;
  font-size: 18px;
  transform: translateX(100%);
  transition: transform 0.3s;
  z-index: 1;

  &.is-checked {
    transform: translateX(0);
  }

  @include mq("md") {
    background: transparent;
    width: auto;
    height: auto;
    position: static;
    padding: 0;
    transform: translateX(0);
  }
}

.header__lists{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: calc(32px - 8px * 2);

  @include mq("md") {
    flex-direction: row;
    align-items: center;
    gap: 46px;
  }
}

.header__list{

}

.header__link {
  display: inline-block;
  padding-block: 8px;
  color: #fff;

  @include mq("md") {
    color: $text-color;
    font-size: 16px;
    transition: color 0.3s ease;

    &:hover {
      color: $main-color;
  }
  }
}

.header_icon {
  @include mq("md") {
    display: none;
  }
}

.drawer-icon {
  position: relative;
  width: 30px;
  height: 18px;

  &.is-checked {

    .drawer-icon_bar{

      &:nth-child(1),
      &:nth-child(3) {
        top: 9px;
      }

      &:nth-child(1) {
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }

      &:nth-child(2) {
        display: none;
      }

    }
  }
}

.drawer-icon_bar {
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  background: $main-color;
  transition: top 0.3s, transform 0.3s;

  &:nth-child(1) {
    top: 0;
  }

  &:nth-child(2) {
    top: 8px;
  }

  &:nth-child(3) {
    top: 16px;
  }
}

.main {
  display: grid;
  gap: 96px;

  @include mq("md") {
    gap: 160px;
  }
}

// ファーストビュー

.fv {
  padding-top: $header-height-sp;

  @include mq("md") {
    padding-top: $header-height-pc;
  }
}

.fv__inner {
  position: relative;
}

.fv__image {
  @include mq("md") {
    max-width: 990px;
    margin-left: auto;
    display: block;
  }
  img {

  }
}

.fv__content {
  margin-top: 30px;

  @include mq("md") {
    position: absolute;
    inset-block: 0;
    margin-block: auto;
    left: 0;
    padding: 80px 40px;
    height: fit-content;
    background: #fff;
  }
}

.fv__title {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.7;

  br {
    display: none;

    @include mq("md") {
      display: inline;
    }
  }
}

.fv__text {
  margin-top: 16px;
}

// コンセプト
.concept {

}

.concept__inner {

}

.concept__contents {
  display: flex;
  flex-direction: column;
  gap: 34px;
  
  @include mq("md") {
    flex-direction: row;
    gap: calc(80px/ 1200px * 100%);
    align-items: center;
  }
}


.concept__image {
  text-align: center;

  @include mq("md") {
    width: calc(600px / 1200px * 100%);
    flex-shrink: 0;
  }

  img {
    width: 100%;
  }
}

.concept__message {

  @include mq("md") {
    flex-grow: 1;
  }
}

.concept__lead {
  font-size: 20px;
  font-weight: 600;
}

.concept__text {
  margin-top: 21px;
  font-size: 16px;
  font-weight: 300;

  @include mq("md") {
    margin-top: 40px;
    font-size: 16px;
  }
}

// Feature

.feature {

}

.feature__inner {

}


.feature__cards {
  display: flex;
  flex-direction: column;
  gap: 49px;

  @include mq("md") {
    flex-direction: row;
    gap: 90px;
  }

}

.feature__card {
  background: #fff;
  box-shadow: 3px 3px 15px 0px rgba(96, 96, 96, 0.16);
}

.feature__card-image {
  text-align: center;

  img {
    width: 100%;
  }
}

.feature__card-text {
  padding: 26px;
  font-weight: 600;
  text-align: center;
}

// about

.about {
  background: url(../img/sp/about-bg.png) no-repeat top center / cover;
  position: relative;
  padding-block: 180px 50px;

  @include mq("md") {
    background-image: url(../img/about-bg.png);
    padding-block: 123px 122px;
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.12);
    z-index: 1;
  }
}

.about__inner {

}

.about___contents {
  position: relative;
  z-index: 2;
  color: #fff;

  @include mq("md") {
    width: calc(600px / 1200px * 100%);
  }
}

.about__title {
  font-size: 20px;
  font-weight: 600;

  @include mq("md") {
    font-size: 22px;
    line-height: 170%;
  }
}

.about__text {
  margin-top: 24px;
  font-size: 14px;
  font-weight: 600;

  @include mq("md") {
    font-size: 16px;
    margin-top: 23px;
  }
}

// products

.products {

}

.products__inner {
  padding-left: 56px;
  padding-right: 56px;

  @include mq("md") {
    max-width: calc(940px + 40px * 2);
    padding-inline: 40px;
  }
}

.products__title {

}

.products__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  @include mq("md") {
    flex-direction: row;
    gap: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  @include mq("lg") {
    gap: 80px;
  }
}

.products-card {
  @include mq("md") {
    flex: 1;
  }
}

.products-card__image {
  text-align: center;

  img {
    width: 100%;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.1);
  }
  }
}

.products-card__body {
  margin-top: 20px;

  @include mq("md") {
    margin-top: 18px;
  }
}

.products-card__title {
  font-size: 14px;
}

.products-card__price {
  color: #989898;
  font-size: 14px;
  margin-top: 10px;
}

.products__button {
  text-align: center;
  margin-top: 42px;

  @include mq("md") {
    margin-top: 43px;
  }
}

// News

.news {

}

.news__inner {

}

.news__cards {
  display: flex;
  flex-direction: column;
  gap: 27px;

  @include mq("md") {
    gap: 24px;
    max-width: calc(1040px + 40px * 2);
    padding-inline: 40px;
    margin-left: auto;
    margin-right: auto;
  }
}

.news__card {
  padding-bottom: 28px;
  border-bottom: solid 1px #E0E0E0;

  @include mq("md") {
    padding-bottom: 23px;
  }


}

.news-card {

  @include mq("md") {
    display: flex;
    align-self: flex-start;
    gap: 40px;
  }
}

.news-card__image {
  img {
    transition: transform 0.2s ease;

    @include mq("md") {
      max-width: 260px;
      flex-shrink: 0;
    }

    &:hover {
      transform: scale(1.1);
  }
  }
}

.news-card__contents {
  margin-top: 16px;

  @include mq("md") {
    flex-grow: 1;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.news-card__date {
  font-size: 14px;
  display: block;
}

.news-card__title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;

  @include mq("md") {
    font-size: 18px;
    margin-top: 16px;
  }
}

.news-card__text {
  margin-top: 14px;
  color: #888;
  font-size: 14px;

  @include mq("md") {
    margin-top: 10px;
  }
}

.news__button {
  margin-top: 42px;
  text-align: center;

  @include mq("md") {
    margin-top: 43px;
  }
}

// concept2

.concept2 {

}

.concept2__description {
  margin-top: 32px;

  @include mq("md") {
    margin-top: 0;
    flex-grow: 1;
  }
}

.concept2__contents {
  gap: 0;

  @include mq("md") {
    flex-direction: row-reverse;
    align-items: center;
    gap: 40px;
  }

  @include mq("lg") {
    gap: 60px;
  }

  @include mq("xl") {
    gap: 80px;
  }
}

.concept2__image {
  text-align: center;

  img {
    width: 100%;
  }

  @include mq("md") {
    width: calc(600px / 1200px * 100%);
    flex-shrink: 0;
  }

}


.concept2__lead {
  font-size: 20px;
  font-weight: 600;

  @include mq("md") {
    font-size: 22px;
    line-height: 170%;
  }

  @include mq("lg") {
    font-size: 25px;
  }
  
  @include mq("xl") {
    font-size: 28px;
  }
}

.concept2__text {
  font-size: 14px;

  @include mq("md") {
    margin-top: 36px;
    font-size: 16px;
  }
}

// contact

.contact {
  padding-block: 56px;
  background: url(../img/contact_bg.png) no-repeat center center / cover;

  @include mq("md") {
    padding-block: 80px;
  }
}

.contact__inner {
  @include mq("md") {
    max-width: calc(510px + 40px *2);
    padding-inline: 40px;
  }
}

.contact__form {

}

.contact__title {
  color: $main-color;
}

.contact__text {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  margin-top: 46px;

  .is-required {
    color: #E7728E;
  }

  @include mq("md") {
    margin-top: 64px;
  }
}

.is-required {

}

.contact__items {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include mq("md") {
    margin-top: 19px;
  }
}

.contact__item {

}

.contact-control {
  display: flex;
  flex-direction: column;
  gap: 3px;

  @include mq("md") {
    flex-direction: row;
    gap: 10px;
  }
}

.contact-control__head {
  @include mq("md") {
    width: 180px;
    flex-shrink: 0;
  }

}

.form-label {
  display: inline-flex;
  background: rgba($main-color, 0.7);
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  gap: 4px;
  align-items: center;
  padding: 4px 16px;

  @include mq("md") {
    width: 100%;
    justify-content: center;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-inline: 4px;
    clip-path: polygon(0% 0%, 97% 0, 100% 50%, 97% 100%, 0% 100%);
  }
}

.form-label__required {
  color: #E7728E;
  font-size: 10px;
  font-weight: 600;

  @include mq("md") {
    font-size: 12px;
  }
}

.contact-control__input {
  @include mq("md") {
    flex-grow: 1;
  }
}

.form-text {
  // 標準のラジオボタンを見えなくする
  width: 100%;
  height: 40px;
  border: 0;
  font-size: 16px;
  background:#FFF;
  box-shadow: 5px 6px 16px 0px rgba(96, 96, 96, 0.16);
}

.contact-control__radios {
  display: flex;
  align-items: center;
}

.form-radio {
  position: relative;

}

.form-radio__input {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;

  &:checked + .form-radio__text {
    background-color: $main-color;
    color: #fff;
  }
}

.form-radio__text {
  font-size: 16px;
  letter-spacing: 0.026px;
  color: $main-color;
  border: 1px solid #FFF;
  background: #FFF;
  width: 80px;
  height: 40px;
  display: grid;
  place-items: center;
}

.form-textarea {
  width: 100%;
  height: 122px;
  background:#FFF;
  box-shadow: 5px 6px 16px 0px rgba(96, 96, 96, 0.16);
  resize: vertical;
  font-size: 16px;
  border: 0;
}

.contact__footer {
  margin-top: 28px;

  @include mq("md") {
    margin-top: 32px;
  }
}

.contact__privacy {
  text-align: center;
}

.form-checkbox {
  position: relative;
}

.form-checkbox__input {
  // 標準のチェックボックスを見えなくする
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;

  &:checked + .form-checkbox__text {
    &::after {
      opacity: 1;
    }
  }
}

.form-checkbox__text {
  font-size: 16px;
  padding-left: 30px;
  // ↑チェックボックスまでの距離＋チェックボックスの幅

  a {
    text-decoration-line: underline;
    color: $main-color;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    transform: translateY(2px);
    left: 0;
    inset-block: 0;
    margin-block: auto;

    @include mq("md") {
      transform: translateY(0px);
    }
  }

  &::before {
    width: 22px;
    height: 22px;
    background: #fff;
    border: 1px solid $main-color;
  }

  &::after {
    opacity: 0;
    width: 19.414px;
    height: 14.621px;
    left: 1.29px;
    background: url(../img/check-icon.png) no-repeat center center / contain;
  }
}

.contact__submit {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 24px;

  @include mq("md") {
    margin-top: 44px;
  }
}



// footer

.footer {
  padding-block: 40px 7px;
  background: #F7F7F7;
  text-align: center;

  @include mq("md") {
    padding-bottom: 14px;
  }
}

.footer_inner {

}

.footer__logo {

  a {
    img {
      width: 120px;
      display: block;
      margin-inline: auto;
    }
  }
  
}

.footer__menu-items {
  margin-top: 23px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include mq("md") {
    flex-direction: row;
    justify-content: center;
    gap: 32px;
  }
}

.footer__menu-item {
  font-size: 12px;
}

.footer__menu-link {

}

.footer__sns-btn {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  gap: 41px;

  @include mq("md") {
    margin-top: 12px;
  }
}

.footer__sns-icon {
  width: 18px;
}

.footer__sns-link {
  img {
  }
}

.footer__copyright {
  font-size: 12px;
  margin-top: 24px;

  @include mq("md") {
    margin-top: 28px;
  }

  small {
    color: #888;
    font-size: inherit;
  }
}









